*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    /* width: 100vw;
    height: 100vh; */
    background: linear-gradient(to right, #dce35b, #45b649);
    font-family: 'Manrope', sans-serif;
}

.main{
    /* width: 100vw;
    height: 100vh; */
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imageDiv{
    height: fit-content;
    display: flex;
    justify-content: center;
}

#image{
    border-radius: 15px;
}

.text{
    border-radius: 50px;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.countdown{
    text-align: center;
    padding: 5px;
}

.days, .hours, .min, .second{
    margin-top: 25px;
    background-color: #dce35b;
    border-radius: 10px;
    padding: 8px;
}

#details{
    margin-top: 30px;
}

@media(min-width: 320px) and (max-width: 768px) {
    .main{
        flex-direction: column;
        padding: 10px;
    }
    .countdown{
        width: 100%;
    }
    .timer{
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }
    .days, .hours, .min, .second{
        width: 100px;
    }
    .text{
        width: 100%;
    }
}